@model Flags.Models.Quiz

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quiz = new Quiz();
    var countries = quiz.GetAllCountries();
    var counter = 0;
}

<h2>Create a new quiz</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="country-list w-25 ml-4">
        @Html.HiddenFor(model => model.Countries) 
        @foreach (var country in countries)
        {
            <div class="w-100 d-flex align-content-center m-1 custom-border" id="div_country_@country.Abreviation" onclick="selectCountry('@country.Abreviation')" name="true">@country.Names[1]</div>
            counter++;
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/bundles/jqueryval"></script>

<script>
    var countries = [];

    function selectCountry(id) {
        var div = document.getElementById("div_country_" + id);
        var divName = div.getAttribute("name");
        if (divName == "true") {
            div.setAttribute("name", "false");

            div.style.backgroundColor = "#90ee90";
            div.style.border = "thin solid #82d882";

            countries.push(id);
        }
        else {
            div.setAttribute("name", "true");

            div.style.backgroundColor = "white";
            div.style.border = "thin solid white";

            var index = countries.indexOf(id);
            countries.splice(index, 1);
        }

        document.getElementById("Countries").value = countries;
    }
</script>